{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <main role="main">
        <h2>Mon panier</h2>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for product in products %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img src="{{ asset('build/images/' ~ product.image) }}" width="100%" />
                  <div class="card-body">
                    <h4>{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{{ path('product', {'id': product.id}) }}" class="btn btn-sm btn-outline-secondary">View</a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {# {{ form(form) }} #}
          {{ form_start(form) }}

                {{ form_row(form.email) }}


                <button type="submit" class="btn btn-primary">Commander</button>
          {{ form_end(form) }}
        </div>
      </div>
    </main>
{% endblock %}
