{% extends 'base.html.twig' %}

{% block title %}Profile Page
{% endblock %}

{% block body %}
	<div class="col-lg-6 col-md-8 col-sm-9 col-10 mx-auto ">
		<div class="pt-3">

			<div class="text-center">
				<h2 class="mt-1">Edit your adress</h2>
			</div>

			<form method="post" action="{{ path('editAdress',{adressId: adress.id }) }}">
				<div class="form-group">
					<label>Country</label>
					<input class="form-control" type="text" value="{{ adress.country }}" name="adressCountry">
				</div>
				<div class="form-group">
					<label>City</label>
					<input class="form-control" type="text" value="{{ adress.city }}" name="adressCity">
				</div>
				<div class="form-group">
					<label>ZipCode</label>
					<input class="form-control" type="text" value="{{ adress.zip }}" name="adressZip">
				</div>
				<div class="form-group">
					<label>Adress</label>
					<input class="form-control" type="text" value="{{ adress.address }}" name="adressAdress">
				</div>
				<div class="form-group">
					<label>Optional informations</label>
					<input class="form-control" type="text" value="{{ adress.optionalInfo }}" name="adressOptions">
				</div>

				<div class="form-check">
					{% if adress.defaultAdress == false %}
						<input class="form-check-input" type="checkbox" id="defaultAdress" name="defaultAdress">
						<label for="defaultAdress">Default Adress</label>
					{% else %}
						<input class="form-check-input" type="checkbox" id="defaultAdress" name="defaultAdress" checked="checked">
						<label for="defaultAdress">Default Adress</label>
					{% endif %}
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-success">Confirm</button>
				</div>
			</form>

		</div>
	</div>
{% endblock %}
