{% extends 'base.html.twig' %}

{% set subCatFromUrl = app.request.get('subcategories') %}

{% block title %} {{subCatFromUrl}} {% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('filters') }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<!-- Filters -->
			<div class="col-3 mx-1">
				<div>
					{{ form_start(form, {attr: {class: 'filter'}}) }}
						{% if mainCat is defined %}
							<h4>All subcategories</h4>
							<ul class="list-unstyled">
								{% for subcat in header.subcategories(mainCat) %}
									<li><a href={{path('subcategories',{category:mainCat.categoryName,subcategories:subcat.categoryName})}}>{{subcat.categoryName}}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
						
						<h4>Prices</h4>
						<div class="row">
							<div class="col-6">
								{{ form_row(form.min) }}
							</div>
							<div class="col-6">
								{{ form_row(form.max) }}
							</div>
						</div>

						<div class="my-2" id="price_slider" data-min="{{ min }}" data-max="{{ max }}"></div>
						<button type="submit" class="btn btn-primary w-100 m-2">Filter</button>
					{{ form_end(form) }}
				</div>
			</div>

			<!-- Products -->
			<div class="container col-8">
				<div class="d-flex justify-content-end mb-2"> 
					{{knp_pagination_sortable(products,'Price ','price.priceDf')}}
				</div>

				<div class="row justify-content-start">
					{% for product in products %}
						<div class="col-3 text-center">                                 
							<div class='text-center border p-2' style='height:85%'>
								<img class="img-fluid" src="{{ product.articles[0].images[0].url }}" alt="" width="100%">
								<small class="pb-1"><b>{{ product.title }}</b></small>
								<div class="text-primary">{{ product.price.priceDf}} €</div>
							</div>                               
							<a class="btn buttonColor my-2 mb-4" href="{{path('product',{id:product.id})}}">View</a>
						</div>

					{% else %}
						<div>No product found</div>
					{% endfor %}
				</div>

				<!-- Pagination -->
				<div class="mt-4">
					{{ knp_pagination_render(products) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('filters') | replace({'src=':'defer src='}) | raw }}
{% endblock %}
