{% extends 'base.html.twig' %}

{% block title %}Hello SubcategoriesController!{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<!-- Filters -->
			<div class=" col-2">
				<div>
					{{ form_start(form, {attr: {class: 'filter'}}) }}

						<h4>Subcategories</h4>
						{{ form_row(form.categories) }}

						<h4>Prices</h4>
						<div class="row">
							<div class="col-6">
								{{ form_row(form.min) }}
							</div>
							<div class="col-6">
								{{ form_row(form.max) }}
							</div>
						</div>

						<div id="priceslider" data-min="{{ min }}" data-max="{{ max }}" class="mb-3">

						</div>

						<button type="submit" class="btn btn-primary w-100">Filter</button>
					{{ form_end(form) }}
				</div>
			</div>

			<!-- Products -->
			<div class="container col-8">
				<!-- Sort by... -->
				<div class="d-flex justify-content-end mb-2">
					{{ knp_pagination_sortable(products, 'Price', 'p.price') }}
				</div>

				<!-- Shown products -->
				<div class="row justify-content-start">

					{% for product in products %}
						<div class="col-3 text-center">                                 
							<div class='text-center border p-2' style='height:85%'>
								<img class="img-fluid" src="{{ product.articles[0].articleImages[0].url }}" alt="" width="100%">
								<small class="pb-1"><b>{{ product.title }}</b></small>
								<div class="text-primary">{{ product.price.priceDf}} €</div>
							</div>                               
							<a class="btn buttonColor my-2 mb-4" href="{{path('product',{id:product.id})}}">View</a>
						</div>
					{% endfor %}
				</div>

				<!-- Pagination -->
				<div class="mt-4">
					{{ knp_pagination_render(products) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) | raw }}
{% endblock %}