{% extends 'base.html.twig' %}

{% block title %}{{  product.name }}{% endblock %}

{% block body %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{  product.name }}</h5>
    <p class="card-text">{{  product.description }}</p>
    <p class="card-text"><small class="text-muted">{{  product.price }} €</small></p>
  </div>
  <img class="card-img-bottom" src="{{ asset('build/images/' ~ product.image ) }}" alt="{{  product.name }}">
  <a href="{{ path('product', {'id': product.id}) }}?addCart=true" class="btn btn-primary">Ajouter au panier</a>
</div>

{% endblock %}
