{% extends 'base.html.twig' %}

{% block title %}
	{{ product.title }}
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row mt-5 justify-content-center">
			<div class="col-1">
				{% for image in images %}
					<img src={{image.url}} alt="hoodie" class="w-100 border my-1 thumbnail-images{% if image == images.0 %} border-secondary{% endif %}">
				{% endfor %}
			</div>
			<div class="col-4">
				<img src={{images.0.url}} alt="hoodie" width="95%" id="main_image">
				<div class="text-center">
					<span id="rating" class="text-warning mx-2">
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</span>
					<a href="#reviews">(<span id="nbr_reviews">2 reviews</span>)
					</a>
				</div>
			</div>
			<div class="col-4 text-center">
				<div class="border rounded">
					<h2>{{product.title}}</h2>
					<p class="text-justify p-4">{{product.description}}</p>
					<form action="{{ path('product_checkArticle', {id : product.id}) }}" method="POST" id="variation_form">
						{% if variations.sizes is not null %}
							<div class="form-group col-md-3 mx-auto">
								<label for="size_selector">Sizes</label>
								<br>
								<select class="form-control" id="size_selector" name="size">
									{% for size in variations.sizes  %}
										<option>{{size}}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}

						{% if variations.colors is not null %}
							<div class="form-group col-md-3 mx-auto">
								<label for="color_selector">Colors</label>
								<br>
								<select class="form-control" id="color_selector" name="color">
									{% for color in variations.colors  %}
										<option>{{color}}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}

						{% if variations.devices is not null %}
							<div class="form-group col-md-5 mx-auto">
								<label for="device_selector">Devices</label>
								<br>
								<select class="form-control" id="device_selector" name="device">
									{% for device in variations.devices  %}
										<option>{{device}}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
					</form>
					<p style="font-size:2em"><b><span id="js_price">{{price.priceDf}}</span> €</b></p>
				</div>
				<div>
					<p id="js_stock_message">{{ article.stockMessage | raw }}</p>
					<br>
					<form id="cart_form" action="{{path("cart_add")}}" method="POST">
						<select id="quantity_selector" data-article-id="{{ article.id}}" data-stock="{{ article.stock}}" data-unit-price = "{{price.priceDf}}"></select>
						<button type="submit" class="btn btn-warning mx-2">Add to cart</button>
					</form>
				</div>
			</div>
		</div>
		<div id="reviews" class="my-2">
			<h3 class="text-center">Reviews</h3>
			<div class="row justify-content-center">
				<div class="col-2 border mx-1">
					<i class="fas fa-user-secret"></i>
					Username
					<br>
					Date
				</div>
				<div class="col-7 row border p-1 mx-1">
					<span class="user-rating col-2">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</span>
					<p class="col-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est at dolore perferendis facere impedit soluta autem pariatur magni eaque maiores illo, dolor explicabo delectus! Eveniet neque dicta optio explicabo soluta?</p>
				</div>
			</div>


		</div>

	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	{{ encore_entry_script_tags('product') }}

{% endblock %}
