{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
	<div class="col-lg-7 col-md-8 col-sm-9 col-9 mx-auto border">
		<h2>Contact us</h2>

		<div id="contactForm">
			{{ form_start(form) }}

				{# if logged in, use the user's email #}
				{% if app.user %}
					{{ form_row(form.email,{'label': 'Email', 'attr': {'placeholder': 'AlHead@sendhelp.com', 'value': user.email }})}}
				{% else %}
					{{ form_row(form.email,{'label': 'Email', 'attr': {'placeholder': 'AlHead@sendhelp.com'}})}}
				{% endif %}

				{{ form_row(form.reason,{'label': 'Why you are contacting us ?'})}}
				{{ form_row(form.message,{'label': 'Message', 'attr': {'placeholder': 'Your message here'}})}}

				<div class="form-group text-center">
					<button type="submit" class="btn btn-success">Send message</button>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
