{% extends 'base.html.twig' %}

{% block title %}Give us information{% endblock %}

{% block body %}

    <div class="col-lg-6 mx-auto"> 
      <div class="pt-3">
        <div class="d-flex flex-row justify-content-center mt-5">
        <a href="{{ path('security_login') }}"><button >Sign In</button></a>
    </div>
    <h2 class="mt-5">Sign Up</h1>

    {{ form_start(form)}}
    
            <div id="stepOne">
            {{ form_row(form.email, { 'label':'Email','attr': {'placeholder': 'your email ...'}})}}
            {{ form_row(form.password , { 'label':'Password','attr': {'placeholder': 'your password ...'}})}}
            {{ form_row(form.confirmPassword , { 'label':'Confirm Password','attr': {'placeholder': 'Confirm your password ...'}})}}
                <button type="submit" class="btn btn-success">Sign Up</button>

                </div>
            </div>

    {{ form_end(form)}}


{% endblock %}
